@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commit Mono";
  src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
