---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Hey there"
  description="A little bit about me"
  pubDate={new Date("December 23 2023")}
>
  <p>
    I'm Guilherme, a Frontend Engineer focused on crafting polished and user
    first products. You can find me on <a href="https://x.com/ubmit">X</a>,
    <a href="https://www.linkedin.com/in/ubmit/">LinkedIn</a> and <a
      href="https://github.com/ubmit">GitHub</a
    >.
  </p>
</Layout>
