---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ActivityGraph from "../components/ActivityGraph.astro";
import { getActivities } from "../lib/strava";
import { SITE_DESCRIPTION } from "../consts";
import "../styles/base.css";

const activities = await getActivities();
---

<html lang="en">
  <head>
    <BaseHead title="Moving" description={SITE_DESCRIPTION} />
  </head>
  <BaseLayout>
    <section>
      <ActivityGraph activities={activities} />
    </section>
  </BaseLayout>
</html>
