---
import { SITE_TITLE } from "../consts";
---

<header class="mb-32 flex flex-col items-start">
  <a class="text-medium inline-block font-medium no-underline" href="/">
    {SITE_TITLE}
  </a>
  <span>Frontend Engineer</span>
</header>
