---
interface Props {
  title: string;
  href?: string;
}

const { title, href } = Astro.props;
---

<h2 class="mb-5 font-medium sm:mb-4">
  {
    Boolean(href) ? (
      <a class="hover:text-gray-1100" href={href}>
        {title}
      </a>
    ) : (
      <span>{title}</span>
    )
  }
</h2>
