---
import Header from "../components/Header.astro";
---

<body class="bg-gray-100">
  <div
    class="mx-auto my-32 max-w-[692px] px-6 text-gray-1200 antialiased sm:my-16"
  >
    <Header />
    <main>
      <slot />
    </main>
  </div>
</body>

<script is:inline>
  function updateTheme(theme) {
    document.documentElement.classList.remove("light", "dark");
    document.documentElement.classList.add(theme);
  }

  let darkColorSchemePref = window.matchMedia("(prefers-color-scheme: dark)");

  let systemTheme = darkColorSchemePref.matches ? "dark" : "light";

  updateTheme(systemTheme);

  darkColorSchemePref.addEventListener("change", (e) => {
    updateTheme(e.matches ? "dark" : "light");
  });
</script>
