---
import Header from "../components/Header.astro";
---

<body class="bg-gray-50">
  <div
    class="mx-auto my-12 max-w-[692px] px-6 text-gray-900 antialiased sm:my-32 md:my-16"
  >
    <Header />
    <main>
      <slot />
    </main>
  </div>
</body>
