---
import Header from "../components/Header.astro";
---

<body class="mb-8 bg-gray-100 sm:mb-16">
  <!-- Grid pattern background -->
  <div
    class="pointer-events-none fixed inset-0 bg-[radial-gradient(var(--color-gray-600)_1px,transparent_1px)] bg-size-[16px_16px] opacity-40"
  >
  </div>

  <!-- Top fade -->
  <div
    class="pointer-events-none fixed top-0 left-0 z-50 h-12 w-full bg-gray-100 backdrop-blur-xl [-webkit-mask-image:linear-gradient(to_bottom,black,transparent)]"
  >
  </div>

  <!-- Content -->
  <div
    class="text-gray-1200 relative mx-auto my-24 max-w-[692px] px-6 antialiased sm:my-16"
  >
    <Header />
    <main>
      <slot />
    </main>
  </div>
</body>

<script is:inline>
  function updateTheme(theme) {
    document.documentElement.classList.remove("light", "dark");
    document.documentElement.classList.add(theme);
  }

  const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");

  updateTheme(mediaQuery.matches ? "dark" : "light");

  const handleChange = (event) => updateTheme(event.matches ? "dark" : "light");
  mediaQuery.addEventListener("change", handleChange);

  document.addEventListener(
    "astro:before-swap",
    () => mediaQuery.removeEventListener("change", handleChange),
    { once: true },
  );
</script>
